<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Ter.k Blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Terk Blog">
  <meta name="author" content="Terungwa Kombol">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <header id="header" class="site-header" role="banner">
    <div class="container">

      <div class="site-branding">
        <button class="menu-toggle" aria-controls="primary-menu" aria-expanded="false"><span></span>Primary
          Menu</button>

        <h1 class="site-title">
          <a href="https://www.thewirechina.com/" rel="home">
            The Wire China </a>
        </h1>

      </div><!-- .site-branding -->

      <div class="nav-wrapper">
        <nav id="site-navigation" class="main-navigation" role="navigation">
          <ul id="main_nav" class="main-menu sf-js-enabled sf-arrows" style="touch-action: pan-y;">
            <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a
                href="https://www.thewirechina.com/about-us/">About Us</a></li>
            <li id="menu-item-595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-595"><a
                href="https://www.thewirechina.com/archives/">Archives</a></li>
          </ul>
        </nav><!-- #site-navigation -->
        <nav class="user-nav">
          <div class="header-search">
            <form role="search" method="get" class="search-form" action="/">
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search" value="" name="s">
              </label>
              <button type="submit" class="search-submit">
                <span class="screen-reader-text">Search</span><i class="icon icon-search"></i>
              </button>
            </form>
          </div>
        </nav>
      </div>
    </div><!-- div.container -->
  </header>
  <h1>Terungwa Kombol</h1>
</body>

</html>
