<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Ter.k Blog</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Terk Blog">
  <meta name="author" content="Terungwa Kombol">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>

<body>
  <header id="header" class="site-header" role="banner">
    <div class="container">

      <div class="site-branding">
        <h1 class="site-title">
          <a href="#" rel="home">
            Ter.k Blog </a>
        </h1>
      </div>

      <div class="nav-wrapper">
        <nav id="site-navigation" class="main-navigation" role="navigation">
          <div>react</div>
          <div>nodejs</div>
          <div>javascript</div>
        </nav>
        <nav class="user-nav">
          <div class="header-search">
            <form role="search" method="get" class="search-form" action="/">
              <input type="search" class="search-field" placeholder="Search" value="" name="s">
              <button type="submit" class="search-submit">
                <span class="screen-reader-text">Search</span><i class="icon icon-search"></i>
              </button>
            </form>
          </div>
        </nav>
      </div>
    </div><!-- div.container -->
  </header>
  <div class="content-area">
    <main class="site-main">
      <h1>Terungwa Kombol</h1>
    </main>
  </div>
</body>

</html>
